.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 25px 0;
  margin: 0 10px 0 0;
  gap: 20px;
  h1 {
    font-size: 24px;
    line-height: 24px;
  }
}

.articleButtons {
  display: flex;
  button {
    padding: 8px 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid;
    cursor: pointer;
    background-color: transparent;
  }
}

.article {
  object-fit: cover;
  max-height: 120px;
  min-height: 120px;
  max-width: 195px;
  min-width: 195px;
  background-color: #8f8585;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articleInfo {
  margin: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
}

.articleDate {
  color: var(--primary-colors-2);
}
